{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <p>
        Different segments of your life must remain contiguous such as business, your love life and leisure
    </p>
</article>
{% endblock %}
