{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <p>
Love is not finding someone to live with; it's finding someone whom you can't live without.
    </p>
</article>
   
{% endblock %}
